.wrap {
  width: 600px;
  height: 420px;
  margin: 50px auto;
  background: #7B68EE;
  border-radius: 15px;
  padding: 10px;

}

.btn-add {
  border: none;
  width: 50px;
  height: 50px;
  background-size: cover;
  position: relative;
  left:270px;
  top: 80px;
}

