.header{
  background-color:#FF7F50;
  height: 80px;
  display:flex;
  align-items: center;
  border-radius: 10px;

}
.controls{
  margin-left:auto;
  align-items: center;
  margin-right: 50px;
}
.userInfo{
  margin-left:auto;
  display: flex;
  align-items: center;
  margin-right: 50px;
  p{
    margin-right: 5px;
  }
}
.logo{
  width:100px;
  height: 100px;
  margin-left: 50px;
}

