.header{
  background-color:var(--background-color);
  height: 80px;
  display:flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--black-color);
  margin-bottom: 50px;

}
.controls{
  margin-left:auto;
  margin-right: 50px;
}
.userInfo{
  margin-left:auto;
  display: flex;
  align-items: center;
  margin-right: 50px;
  p{
    margin-right: 5px;
  }
}
.logo{
  width:100px;
  height: 100px;
  margin-left: 50px;
}

