@use './variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
input{
  display: block;
  width:80%;
  margin: 15px auto;
  padding: 2px;
  font-size: 15px;
  border:1px solid v.$black-color;
  outline:none;
}
.container{
  max-width: 1100px;
  margin:0 auto;
  overflow: hidden;
  padding: 0 30px;
  color:v.$light-color;
}
.btn{
  background-color:v.$button-color;
  color:v.$light-color;
  height: 30px;
  width: 75px;
  border-radius:15px;
  border:none;
  margin-right: 10px;
  cursor: pointer;
  transition: background 400ms linear;

  &:disabled{
    background: v.$button-disabled-color;
    cursor: not-allowed;
  }
  &:hover{
    background: v.$black-color;
  }
}
.card{
  display: inline-block;
  position: absolute;
  top: 20%;
  left:30%;
  background-color:v.$background-color;
  padding:20px;
  border-radius:25px;
}
.form-control{
  width: 500px;
  margin:25px auto;
  input{
    border-radius: 5px;
  }
  &.invalid{
    input{
      border:1px solid v.$alert-color;
    }
  }
}
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: v.$light-color;
  color: v.$alert-color;
}
.alert-success{
  background:  v.$success-color;
  color: v.$light-color;
}

.alert-danger{
  background:  v.$danger-color;
  color: v.$light-color;
}
.validation{
  font-weight: bold;
  color: v.$dark-color;
}



