$alert-color: #DC143C;
$dark-color: #8B0000;
$light-color: #f4f4f4;
$danger-color: #FF0000;
$success-color: #28a745;
$background-color:#FF7F50;
$button-color:#808080;
$button-disabled-color:#2F4F4F;
$black-color:#000000;
$text-color:#7B68EE;
