@use 'src/variables' as v;

.task{
  list-style: none;
  display:flex;
  padding: 10px 5px;
}
ul{
  padding: 0;
  margin: 0;
}
.task_text{
  margin-left: auto;
  padding: 0;
}

.task_container{
  background: v.$light-color;
  font-size: 25px;
  width: 500px;
  height: 50px;
  color:v.$black-color;
  margin: 20px auto 0 auto;
  overflow: auto;
  border-radius: 20px;
}
.delete{
  display: inline-block;
  background-color: v.$danger-color;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 5px;
  &:hover{
    background-color: v.$alert-color;
  }
}

